__pycache__/
venv/
*.git
*.so
.idea/
.vscode/
*.png
*.jpg
*.xmind
*.log
*.lock
jupyter*
.ipynb_checkpoints/
alembic
alembic.ini
*.exe
*.xlsx
*.xml
*.gz
*.crdownload
*.out
*.pyc
logs/
test_*.py
*.package
